.Header {
  width: 100%;
  height: 60vh;
  background-image: url("../../Images/Home.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header .Header__div_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  gap: 30px;
}

.Header .Header__div_content p {
  font-size: var(--texts-size);
  text-align: center;
  max-width: 600px;
  min-width: 300px;
  word-wrap: break-word;
}

@media (max-width: 500px) {
    .Header h1 {
      font-size: 25px !important;
    }

    .Header p {
      width: 90%;
    }
}