/* Estilos para la página Home */
.home_section_1 {
  width: 100%;
  padding: 0 80px;
  margin-bottom: calc(2 * var(--margin-bottom));
}

.home_section_2 {
  max-width: 1600px;
  padding: 0 80px;
  margin: 0px auto calc(2 * var(--margin-bottom)) auto;
}

/* Estilos para la página Contact */
.contact_page_container {
    display: flex;
    max-width: 1050px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Media Queries */
@media (max-width: 992px) {
    .contact_page_container {
        flex-direction: column;
        margin: 50px 20px;
    }
}

@media (max-width: 900px) {
  .home_section_1 {
    padding: 0 40px;
  }
}

@media (max-width: 768px) {
  .home_section_1,
  .home_section_2 {
    padding: 0 40px;
  }

  .home_section_2 {
    margin-bottom: calc(2 * var(--margin-bottom));
  }
}

@media (max-width: 480px) {
  .home_section_1,
  .home_section_2 {
    padding: 0 20px;
  }
}

@media (max-width: 450px) {
  .home_section_1 {
    padding: 0 20px;
  }
}
